
/*==================================================公共样式============================================*/
@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,td{margin:0;padding:0;}
body{font-size:12px; font-family:"微软雅黑";word-wrap:break-word;}
a,u,s,del{color:#666;text-decoration:none} 
fieldset ,a img,.bor0 {border:0;}
i,em,b{font-style:normal;font-weight:100;}
li{list-style:none}
img{vertical-align:middle}
table{border-collapse:collapse;}/*细线边框*/


.ind2{text-indent:2em} 
/*溢出隐藏出现省略号*/
.over{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

/*让图片垂直对齐方式*/
.valign{text-align:center;}
.valign:after{content:"";display:inline-block;width:0;height:100%;
vertical-align:middle;}/*给valign添加个子元素对齐图片*/
.valign img{vertical-align:middle;}

/*万能清除浮动法*/
.clear{zoom:1;}
.clear:after{content:"";clear:both;display:block;}



/*================================================公共头部===========================================*/
/*================================================================================================*/

nav{width:100%;
	height:29px;
	background:#ededed;
	}
	
	
nav .w{width:1110px;
		margin:0 auto;
		}
nav .w .l{float:left;}
nav .w .l ul li{float:left;
				font-size:12px;
				height:29px;
				}
nav .w .l ul li img{margin:-3px 2px 0 2px;}
nav .w .l ul li a{margin:0 7px;
					display:block;
					float: left;
					line-height: 29px;
					}
nav .w .l ul li a:hover{
						color:#A31919;
}					
nav .w .l ul li span{line-height: 29px;}
nav .w .l ul li a:hover{color:#5e2900;}
nav .w .r{float:right;}
nav .w .r ul li{float:left;
				font-size:12px;
				height:29px;
				}
nav .w .r ul li img{margin:7px 2px 0 2px;float:left;}
nav .w .r ul li a{margin:0 7px;
				display:block;
				float: left;
				line-height: 29px;
				}
nav .w .r ul li a:hover{
						color:#A31919;
}				
nav .w .r ul li b{font-size:12px;
				height:29px;
				line-height: 2;
				margin-left:5px;
				}
nav .w .r ul li span{font-size:12px;
					height:29px;
					}
nav .w .r ul li:nth-child(2){position: relative;
							
}
nav .w .r ul li:nth-child(2) ul{display: none;
								position: absolute;
								top:22px;
								left:0px;
								border-bottom: 2px solid #e7e7e7;
								width:80px;
								z-index: 9999;
								background-color: #eef3f9;
								padding:5px 10px 5px 0;
								}							
nav .w .r ul li:nth-child(2):hover ul{display: block;
										}													
/*=======================================header=======================================*/
header{
		width:100%;
		height:104px;
		position: relative;
		}
header .w{
			width:1110px;
			margin:0 auto;
			}
header .logo{
			padding:26px 0 20px;
			float:left;
			}
header .nav{
			padding:35px 0 20px;
			float:left;
			}
header .nav ul{
				float:left;
				}
header .nav ul li:nth-child(1) a{
	color:#636b9e;
}
header .nav ul li{
				float:left;
				font:16px/25px "";
				}
header .nav .img1{
					float:left;
					margin-top:-15px;
					}

header .nav ul li:nth-child(2){
								position: relative;
								}								
.erji{width:100%;
	height:220px;
	background:#fff;
	display: none;
	position:absolute;
	transition: 2s;
	top:90px;
	z-index: 1;
	}
.erji .erjiw{
	width:982px;
	height:220px;
	margin:0 auto;	
}
.erji .erjiw div{
	width:235px;
	height:220px;
	float:left;
	margin-left:33px;
}	
.erji .erjiw div h3 a{
	width:68px;
	height:22px;
	font-size: 16px;
	font-weight: bold;
}
.erji .erjiw div p a{
	width:52px;
	height:22px;
	
} 	
.erji .erjiw div img{
	width:162px;
	height:138px;	
}
.erji .erjiw ul{
	float:left;
	margin-top:10px;
}	
.erji .erjiw ul li{
	font-size: 12px;
	line-height: 26px;
	}
.erji .erjiw div a:hover{
	color:#A31919;
	text-decoration: underline;
	}
.erji .erjiw ul li a:hover{
	color:#ff8a81;
}
.erji .erjiw div img:hover{
	transform: scale(1.2);
}			
header:hover .erji{
	display: block;
	}							
/*====================================================公共页脚=================================================*/
/*============================================================================================================*/
#customization{
				width:100%;
				height:214px;
				background:url(../../images/index_15.jpg) no-repeat;
				background-position: center;
				margin-top:-1px;
				}
			/*==========================================insurance============================================*/	
#insurance{
			width:100%;
			height:129px;
			background:url(../../images/index_16.jpg) no-repeat;
			background-position: center;
			}
			/*===========================================footer============================================*/

#footer{
		width:100%;
		height:341px;
}
#footer .friendlink{
			width:1134px;
			height:341px;
			margin:0 auto;	
	
}
#footer .guide{	
					width:1134px;
					height:110px;
					float:left;
					padding:30px 0 25px 50px;
					}
				
#footer .guide ul{
						float:left;
						width:95px;
						height:88px;
						margin-right:25px;
						}
#footer .guide ul li{
						line-height: 22px;
						padding-left:10px;
						transition:1S;
}
#footer .guide ul li a:hover{
							color:#5e2900;
							}
#footer .guide .guide-r{
						float:right;
						margin-right:135px;
						
}

#footer .friend{
				margin:0 auto;
				margin:0 0 0 60px;
				line-height: 22px;
				padding-bottom: 16px;
				overflow: hidden;
				width:100%;
				}
#footer .friend .link-t{
						height:24px;
						font:12px/22px "";	
}

#footer .friend .link-t a{
							margin:0 7px;
						  color:#ccc;
						  }
#footer .friend .link-t a:hover{
								color:#000;
								}
#footer .friend .link-t span{
							margin:0 5px;
						    color:#ccc;
						  }

#footer .friend .p2{
					width:1050px;
					display: none;
					font:12px/22px "";
					}
#footer .friend:hover .p2{
						display: block;
						}								
#footer .friend p a{
									margin:0 5px;
						  			color:#ccc;
						  			}
#footer .friend p a:hover{
										color:#000;
										}					  			
#footer .friend p span{
								margin:0 5px;
						  		color:#ccc;
						  		}
#footer .friend .link-b{
						height:1px;
						border-bottom: 1px solid #ccc;
						}
#footer .footer-b{
						text-align:center;
						padding:10px 0 20px;
						line-height: 22px;
						color:#7d7d7d;
						height:118px;
}
#footer .footer-b:hover a:hover{
								color:#A31919
								};
/*===================================================consult================================================*/
#consult{}
/*==================================================service=============================================*/
#service{
	width:615px;
	height:520px;
	margin:0;
	padding:0;
	position: fixed;
	left:425px;
	top:0px;
	text-align: left;
	color:rgba(0,0,0);
	background:transparent;
	font-size: 12px;
	line-height:160%;
	z-index: 100000;
	display: none;
}
#service .t{
	margin:0;
	padding:0;
	width:100%;
	height:55px;
	right: auto;
	bottom: auto;
	text-align: left;
	box-sizing:content-box;
	font-size: 12px;
	line-height:160%;
	cursor: move;
	position: relative;
	left:0;
	top:0;
}
#service .t .t-c{
	width:55px;
	height:55px;
	position: absolute;
	left:20px;
	top:0;
	border:1px solid rgb(95,100,103);
	z-index: 1;
}
#service .t .t-c img{
	width:100%;
}
#service .t .t-a{
	border-width: 1px 1px 0px;
	border-style: solid solid none;
	border-color: rgb(95,100,103) rgb(95,100,103) currentcolor;
	border-image: none;
	width:613px;
	height:42px;
	position: absolute;
	left:auto;
	top:13px;
	font:12px/16px "";
	background:url(../../images/rgp_kf_9746_1429667981942.jpg) no-repeat #636a9e;
	background-position: center; 
	border-radius: 5px 5px 0 0;
}
#service .t .t-a .sp1{
	position: static;
	font-size: 12px;
	line-height: 20px;
	margin:10px 0px 10px 80px;
	display: inline-block;
	float:left;
	height:20px;
	max-height: 220px;
	visibility: visible;
	overflow:hidden ;
	cursor: auto;
	color:#fff;
	font-weight: bold;
}
#service .t .t-a .sp2{
	width:435px;
	height:20px;
	float:left;
	visibility: visible;
	white-space:nowrap ;
	text-overflow: ellipsis;
	display: inline-block;
	overflow: hidden;
	cursor: auto;
	margin:10px 0 10px 10px;
	box-sizing: content-box;
}
#service .t .quxiao{
	width:20px;
	height:20px;
	cursor: pointer;
	float:right;
	background:url(../../images/chaticon.png) no-repeat scroll -60px 0;
	vertical-align: middle;
	position: relative;
	margin:20px 5px 0 0;
	
}
#service .t .fangda{
	text-align: left;
	box-sizing: content-box;
	width:20px;
	height:20px;
	cursor: pointer;
	float:right;
	position: relative;
	vertical-align: middle;	
	background:url(../../images/chaticon.png) no-repeat scroll -40px 0;
	margin:20px 5px 0 0;
}
#service .t .suofang{
	text-align: left;
	box-sizing: content-box;
	width:20px;
	height:20px;
	cursor: pointer;
	float:right;
	position: relative;
	vertical-align: middle;
	background:url(../../images/chaticon.png) no-repeat scroll -1px 0;
	margin:20px 5px 0 0;
}
#service .l{
	margin:0px;
	padding:0px;
	width:415px;
	height:466px;
	text-align: left;
	position: static;
	box-sizing: content-box;
	color:#000;
	background:transparent;
	font-size: 12px;
	line-height: 160%;
	float:left;
	z-index: 999999;
	background:#fff;	
}
#service .l .l-body{
	position: relative;
	left:0px;
	top:0px;
	float:left;
	width:100%;
	height:465px;
	
}
#service .l .l-body .l-container{
	position: relative;
	width:100%;
	height:auto;
	left:0;
	top:0;
	overflow: hidden;
	
}
#service .l .l-body .l-container .l-window{
	position: relative;
	width:100%;
	height:auto;
	left:0;
	top:0;
	overflow: hidden;
	
}
#service .l .l-body .l-container .l-window .l-window-history{
	text-align:left;
	width:100%;
	height:300px;
	position: relative;
	overflow: hidden;
	box-sizing: content-box;
	background:#fff;
	z-index: 9999999;
}
#service .l .l-body .l-container .l-window .gongju{
	text-align: left;
	box-sizing: content-box;
	height:28px;
	width:100%;
	border-top:1px solid #d5d5d5;
	background:#f9f9f9;
	font-size:12px;
	line-height: 160%;
}
#service .l .l-body .l-container .l-window .gongju .gongju-face{
	position: static;
	text-align: left;
	box-sizing: content-box;
	color:rgb(82,82,82);
	float:left;
	margin:3px 0px 3px 10px;
	border:0px solid rgb(204,204,204);
	height:22px;
	display: block;
	cursor: pointer;
	width:20px;
	background:url(../../images/chaticon.png) no-repeat scroll -100px 1px;
	opacity: 1;
}
#service .l .l-body .l-container .l-window .gongju .gongju-image{
	position: static;
	text-align: left;
	box-sizing: content-box;
	color:rgb(82,82,82);
	float:left;
	margin:3px 0px 3px 10px;
	border:0px solid rgb(204,204,204);
	height:22px;
	display: block;
	cursor: pointer;
	width:20px;
	background:url(../../images/chaticon.png) no-repeat scroll -120px 0px;
	opacity: 1;
}
#service .l .l-body .l-container .l-window .gongju .gongju-file{
	position: static;
	text-align: left;
	box-sizing: content-box;
	color:rgb(82,82,82);
	float:left;
	margin:3px 0px 3px 10px;
	border:0px solid rgb(204,204,204);
	height:22px;
	display: block;
	cursor: pointer;
	width:20px;
	background:url(../../images/chaticon.png) no-repeat scroll -140px 0px;
	opacity: 1;
}
#service .l .l-body .l-container .l-window .gongju .gongju-history{
	position: static;
	text-align: left;
	box-sizing: content-box;
	color:rgb(82,82,82);
	float:left;
	margin:3px 0px 3px 10px;
	border:0px solid rgb(204,204,204);
	height:22px;
	display: block;
	cursor: pointer;
	width:20px;
	background:url(../../images/chaticon.png) no-repeat scroll -180px 0px;
	opacity: 1;
}
#service .l .l-body .l-container .l-window .gongju .gongju-evaluate{
	position: static;
	text-align: left;
	box-sizing: content-box;
	color:rgb(82,82,82);
	float:left;
	margin:3px 0px 3px 10px;
	border:0px solid rgb(204,204,204);
	height:22px;
	display: block;
	cursor: pointer;
	width:20px;
	background:url(../../images/chaticon.png) no-repeat scroll -160px 0px;
	opacity: 0.4;
}
#service .l .l-body .l-container .l-window .gongju .gongju-exp{
	position: static;
	text-align: left;
	box-sizing: content-box;
	background-color: transparent;
	font-size: 12px;
	line-height: 160%;
	color:rgb(82,82,82);
	float:right;
	margin:4px 3px;
	padding:0 3px;
	border:0px solid rgb(204,204,204);
	height:20px;
	display: inline-block;
	cursor: pointer;
	background-position: 0% 0px;
}
#service .l .l-body .l-container .l-window .shuru{
	position: static;
	text-align: left;
	box-sizing: content-box;
	color:#000;
	background-color:transparent;
	font-size: 12px;
	line-height: 160%;
	height:95px;
	width:100%;
	overflow: hidden;
}
#service .l .l-body .l-container .l-window .shuru textarea{
	text-align: left;
	background-color: transparent;
	font-size: 12px;
	line-height: 160%;
	box-shadow: 0px 0px 5px rgb(170,170,170) inset;
	margin:1px;
	padding:10px;
	width:393px;
	height:73px;
	outline: 0 solid rgb(0,136,255);
	border:0px solid rgb(0,136,255);
	color:rgb(204,204,204);
	resize: none;
	overflow-x: hidden;
	overflow-y: auto;	
}
#service .l .l-body .l-container .l-window .fasong{
	position: static;
	text-align: left;
	box-sizing: content-box;
	color:#000;
	font-size: 12px;
	line-height: 160%;
	height:40px;
	width:100%;
	background:#f9f9f9;
	border-radius: 0 0 0 5px;
}
#service .l .l-body .l-container .l-window .fasong .xiala{
	color:#000;
	background-color:transparent;
	font-size: 12px;
	line-height: 26px;
	margin:6px 10px 6px 0px;
	float:right;
	border:1px solid #ccc;
	width:14px;
	height:26px;
	text-align: center;
	cursor: pointer;
}
#service .l .l-body .l-container .l-window .fasong .fa{
	color:#000;
	background-color:rgb(241,241,241);
	font-size: 12px;
	line-height: 26px;
	margin:6px 0;
	float:right;
	height:26px;
	text-align: center;
	padding:0 25px;
	border:1px solid rgb(204,204,204);
	cursor: pointer;
	opacity: 1;
}
#service .l .l-body .l-container .l-window .fasong .jieshu{
	text-align: left;
	background-color:transparent;
	color:rgb(1,1,1);
	font:12px/24px "";
	text-decoration: none;
	margin:8px 10px 8px 0px;
	padding:0 10px;
	float:right;
	height:24px;
	cursor: pointer;
}
#service .l .l-body .l-container .l-window .fasong .xiaoneng{
	position: static;
	text-align: left;
	box-sizing: content-box;
	background:transparent;
	display: block;
	visibility: visible;
	text-decoration: none;
	margin:6px 0px 6px 10px;
	float:left;
	height:26px;
	line-height: 26px;
	color:#ddd;
}
#service .r{
	margin:0px;
	padding:0px;
	height:465px;
	position: static;
	text-align: center;
	box-sizing: content-box;
	color:#000;
	background:#fff;
	font-size: 12px;
	line-height: 160%;
	float:left;
	display: block;
	width:200px;
}
#service .r .r-c{
	border:2px solid #fff;
	text-align: center;
	box-sizing: content-box;
	color:#000;
	background:transparent;
	overflow: hidden;
	z-index: -1;
	height:26px;
}
#service .r .r-c .r-c-r{
	border:1px solid rgb(213,213,213);
	font:12px/24px "";
	color:#000;
	height:24px;
	cursor: pointer;
	float:left;
	width:98px;	
}
#service .r .r-c .r-c-l{
	border:1px solid rgb(213,213,213);
	font:12px/24px "";
	color:000;
	height:24px;
	cursor: pointer;
	float:left;
	width:92px;
	
}
#service .r .r-b{
	text-align: left;
	box-sizing: content-box;
	color:#000;
	overflow: hidden;
	position: relative;
	top:-1px;
	z-index: 1;
	border-radius: 0px 0px 5px;
	
}
/*====================================================topcontrol=========================================*/
#top{
	position: fixed;
	cursor: pointer;
	bottom: 50px;
	right:20px;
	}

/*=========================================================popu==========================================*/
#popu{
	width:340px;
	height:145px;
	background:url(../../images/popkf.jpg) no-repeat;
	position: fixed;
	left:50%;
	top:50%;
	margin-top:-73px;
	margin-left:-155px;
	z-index: 999999;
}
#popu .quxiao{
	width:12px;
	height:12px;
	position: absolute;
	top:-1px;
	right:34px;
	cursor: pointer;	
}
#popu .shaohou{
	width:73px;
	height:22px;
	position: absolute;
	bottom: 14px;
	left:122px;
	cursor: pointer;
}
#popu .service{
	width:73px;
	height:22px;
	position: absolute;
	bottom:14px;
	right:60px;
	cursor: pointer;
}
